@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body{
	
	font-family: 'Noto Serif KR', serif;
	overflow-x: hidden;
}

.flex-grow-1 {
	min-height: 110vh;
}

a{
	text-decoration: none;
	color: currentColor;
}

a:hover{
	color: currentColor;	
}

header{
	width: 100vw;
	height: 100px;
	background-color: #fff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
	display: flex;
    align-items: center;
}

header .container-fluid{
	width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo img{
	display: flex;
	align-content: center;
	justify-content: flex-end;	
}

header .navb-items{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
	text-align: center;
    margin-inline: 90px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
    
}

header .item:nth-child(3) {
    margin-inline-end: 250px;
}
header .item:nth-child(4) {
    margin-inline-end: 50px;
}

header .item:hover {
	border-bottom: 3px solid #64d6f4;
	border-top: 3px solid #64d6f4;
}

section .card{
	position: absolute;
	top: 250px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
	
}

section .custom-bg{
	background-color: #fff;
}

section .card-img-top{
	height: 15rem;
	object-fit: cover;	
}

header .logo{
	display: flex;
    align-items: center;
}

.form-container{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="password"] {
    width: 500px;
    height: 60px;
  }

.form-container input[type="submit"] {
    width: 500px;
    height: 60px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 23px;
    margin-top: 10px; 
  }

section .sign-up{
	position: absolute;
	top: 310px;
	left: 100px;
}

section .search-pw{
	position: absolute;
	top: 310px;
	left: 240px;
}

section .kakaoLogin{
	position: absolute;
	top: 370px;
	height: 50px;
	width: auto;
}

section .naverLogin{
	position: absolute;
	top: 370px;
	left: 270px;
}

section h2 .tit{
	display: inline-block;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 64px;
    color: #333;
    font-style: normal;
    line-height: 1.2;
    position: absolute;
    left: 810px;
    top: 150px;
}

section h2 .tit1{
	display: inline-block;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 64px;
    color: #333;
    font-style: normal;
    line-height: 1.2;
    position: absolute;
    left: 690px;
    top: 150px;
}

section .form-container1{
	width:1360px;
	height: 550px;
	position: absolute;
    top: 350px;
    left: 300px;
}

section .form-check{
	font-size: 30px;
	}
	
section .btn-customs {
    width: 600px;
    height: 70px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 33px;
    margin-top: 200px; 
  }

section .t1{
	margin-bottom: 10px;
}

section .t2{
	position: absolute;
	top: 100px;
	margin-top: 10px;
}
section .t3{
	position: absolute;
	top: 200px;
	margin-top: 10px;
}

section .hr1 {
	margin: 30px 0; /* hr 요소 위아래에 여백을 줌 */
	border: none; /* hr 요소의 테두리 제거 */
	border-top: 2px solid; /* 상단 테두리를 추가하여 구분선 효과 생성 */
}
section .hr2 {
	margin: 30px 0; /* hr 요소 위아래에 여백을 줌 */
	border: none; /* hr 요소의 테두리 제거 */
	border-top: 2px solid; /* 상단 테두리를 추가하여 구분선 효과 생성 */
	position: relative;
	top: 80px;
}

.form-check-input[type="checkbox"]:checked {
	background-color: #343a40; /* 체크박스의 배경색을 변경 */
	border: 2px solid #333333; /* 체크박스의 테두리 색상을 변경 */
}

.signUpid input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 20px;
    padding: 14px 18px 14px 18px;
}
.box_form_split input[type=password]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.box_form_split input[name=repasswordsignUp]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.signUpName input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.signUpEmail input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.signUpBirth input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.signUpPhone input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 510px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}
.signUpAddr input[type=text]{
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 350px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}
.signUpAddr input[name=addr1] {
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 250px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

.signUpAddr input[name=addr2] {
   font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 250px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}


section input[type=text].border-type1{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: -80px;
    left: -270px;
}

section input[type=password].border-type1{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 0px;
    left: -270px;
}
section input[type=password].border-type11{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 80px;
    left: -270px;
}

section input[type=text].border-type2{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 160px;
    left: -270px;
}

section input[type=text].border-type3{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 240px;
    left: -270px;
}

section input[type=text].border-type4{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 320px;
    left: -270px;
}

section input[type=text].border-type5{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 400px;
    left: -270px;
}
section input[type=text].border-type6{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 480px;
    left: -270px;
}
section input[type=text].border-type7{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 560px;
    left: -270px;
}
section input[type=text].border-type8{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 560px;
    left: -10px;
}

section .postbutton{
	position: absolute;
    width: 130px;
    height: 45px;
    top: 480px;
    left: 110px;
    margin: auto 0;
    border-radius: 3px;
    background-color: #343a40;
    border: 2px solid;
    color: white;
    font-size: 18px;
}

#signupButton2{
	position: absolute;
    width: 510px;
    height: 45px;
    top: 640px;
    left: -270px;
    margin: auto 0;
    border-radius: 3px;
    background-color: #343a40;
    border: 2px solid;
    color: white;
    font-size: 18px;
}

section .okId{
	color: green;
	position:absolute;
	top: -30px;
	left: -360px;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadyId{
	position:absolute;
	top: -30px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .okpw{
	color: green;
	position:absolute;
	top: 50px;
	left: -360px;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadypw{
	position:absolute;
	top: 50px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .okpwre{
	color: green;
	position:absolute;
	top: 130px;
	left: -360px;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadypwre{
	position:absolute;
	top: 130px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .oknm{
	color: green;
	position:absolute;
	top: 210px;
	left: -360px;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadynm{
	position:absolute;
	top: 210px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .okem{
	color: green;
	position:absolute;
	top: 290px;
	left: -360px;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadyem{
	position:absolute;
	top: 290px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

section .alreadybir{
	position:absolute;
	top: 370px;
	left: -360px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

#acid{
	position: absolute;
	top: -50px;
	left: -155px;
	border: solid 1px #ddd;
	border-radius: 10px;
	min-height: 45px;
	font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 20px;
    color: #333;
    width: 300px;
    height: 45px;
    line-height: 20px;
    padding: 14px 18px 14px 18px;
}

section input[type=password].ac-border-type1{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 50px;
    left: -155px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 17px;
    color: #333;
    width: 300px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}
section input[type=password].ac-border-type2{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 150px;
    left: -155px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 17px;
    color: #333;
    width: 300px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

section input[type=text].ac-border-type3{
	border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #fff;
    min-height: 45px;
    position: absolute;
    top: 250px;
    left: -155px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 17px;
    color: #333;
    width: 300px;
    height: 45px;
    line-height: 30px;
    padding: 14px 18px 14px 18px;
}

#accountButton3{
	position: absolute;
    width: 510px;
    height: 60px;
    top: 350px;
    left: -270px;
    margin: auto 0;
    border-radius: 3px;
    background-color: #343a40;
    border: 2px solid;
    color: white;
    font-size: 18px;
}

.erroracpw{
	position:absolute;
	top: 110px;
	left: -200px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

.okacpw{
	position:absolute;
	top: 110px;
	left: -200px;
	color: green;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

.errorreacpw{
	position:absolute;
	top: 210px;
	left: -200px;
	color: red;
	width: 600px;
	margin-inline: 100px;
	display: none;
}

.okreacpw{
	position:absolute;
	top: 210px;
	left: -200px;
	color: green;
	width: 600px;
	margin-inline: 100px;
	display: none;
}



