@charset "EUC-KR";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

body{
	
	font-family: 'Noto Serif KR', serif;
	overflow-x: hidden; 
}

a{
	text-decoration: none;
	color: currentColor;
}

a:hover{
	color: currentColor;	
}

header{
	width: 100vw;
	height: 100px;
	background-color: #fff;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
	display: flex;
    align-items: center;
}

header .container-fluid{
	width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo img{
	display: flex;
	align-content: center;
	justify-content: flex-end;	
}

header .navb-items{
	display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
}

header .item{
	text-align: center;
    margin-inline: 100px;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0;
    transition: all .1s ease;
    border-bottom: 0px solid #64d6f4;
    border-top: 0px solid #64d6f4;
    cursor: pointer;
    
}

header .item:nth-child(3) {
    margin-inline-end: 250px;
}
header .item:nth-child(4) {
    margin-inline-end: 50px;
}

header .item:hover {
	border-bottom: 3px solid #64d6f4;
	border-top: 3px solid #64d6f4;
}

section .card{
	position: absolute;
	top: 250px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
	
}

section .custom-bg{
	background-color: #fff;
}

section .card-img-top{
	height: 15rem;
	object-fit: cover;	
}

header .logo{
	display: flex;
    align-items: center;
}

.form-container{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type="text"], input[type="password"] {
    width: 500px;
    height: 60px;
  }

.form-container input[type="submit"] {
    width: 500px;
    height: 60px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-size: 23px;
    margin-top: 10px; 
  }

section .sign-up{
	position: absolute;
	top: 310px;
	left: 100px;
}

section .search-pw{
	position: absolute;
	top: 310px;
	left: 240px;
}

section .kakaoLogin{
	position: absolute;
	top: 370px;
	height: 50px;
	width: auto;
}

section .naverLogin{
	position: absolute;
	top: 370px;
	left: 270px;
}

section h2 .tit{
	display: inline-block;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 64px;
    color: #333;
    font-style: normal;
    line-height: 1.2;
    position: absolute;
    left: 810px;
    top: 150px;
}

section .form-container1{
	width:1360px;
	height: 600px;
	position: absolute;
    top: 350px;
    left: 300px;
}

section .form-check{
	font-size: 30px;
	}




